.footer{
    
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    overflow: visible;
    clear: both;
    text-align: center;
    border-bottom: 1px solid #000000; 
    border-top: 2px solid #000000;
}


.info { 
    position: relative;
    display: block;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}