.footer{
    
    position: relative;
    padding: 1rem;
    bottom: 0;
    left:0;
    right:0;
    background-color: #c2b5b5ab;
    text-align: center;
    border-bottom: 1px solid #000000; 
    border-top: 2px solid #000000;
}


.info { 
    position: relative;
    display: block;
    font-size: 14px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}